.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity 0.3s ease;
}

.page-fade-enter-from,
.page-fade-leave-to {
  opacity: 0;
}

body::-webkit-scrollbar {
  width: 5px;
  background: linear-gradient(
    to bottom,
    hsl(200deg, 80%, 70%) 0%,
    hsl(190deg, 80%, 70%),
    hsl(250deg, 80%, 70%),
    hsl(320deg, 80%, 70%) 100%
  );
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    hsl(0deg, 100%, 50%, 0) 0%,
    hsl(0deg, 100%, 100%, 0.9) 20%,
    hsl(0deg, 100%, 100%, 0.9) 80%,
    hsl(0deg, 100%, 50%, 0) 100%
  );
  border-radius: 100%;
}

.background{
background: linear-gradient(
        45deg,
        hsl(200deg, 80%, 70%),
        hsl(190deg, 80%, 70%),
        hsl(250deg, 80%, 70%),
        hsl(320deg, 80%, 70%)
      );
      background-size: 200% 200%;
      animation: gradient-move 15s ease alternate infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}